@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

:root {
    --bg-color: #8F43EE;
    --text-color: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

#conteudo {
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

input[type=text] {
    display: block;
    width: 100%;
    margin: 4rem 0;
    padding: 1rem;
}

